body{
    margin: 0 0 0 0;
}
#navbar{
    position: fixed;
    top: 0;
    background-color: rgb(122, 12, 12);
    width: 100%;
    height: 60px;
    text-align: right;    
    display: grid;
    grid-template-columns: 5fr 1fr 1.3fr 1fr;
}
#navbar a{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 8px;
    color: white;
    font-size: 20px;
    font-family: monospace;
}
#welcome-section{
    height: 100vh;
    width: auto;
    background-color: rgb(20, 18, 18);
    margin-bottom: 0;
}
#welcome-section h1{
    color: white;
    padding-top: 200px;
    font-family: cursive;
    font-size: 8vh;  
    text-align: center;
}
#welcome-section p {
    color: rgb(122, 12, 12);
    font-size: 5vh;
    font-family: monospace;
    text-align: center;
}
#projects{
    background-color: rgb(17, 131, 131);
    margin-top:-25px;
    padding-left: 20px;
    padding-right: 20px;
}
#projects h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
img{
    width: 100%;
    height: auto;
}
#project-tile{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#project-tile a{
    text-decoration: none;
}
.project-tile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin: 10px 10px;
    background-color: rgb(68, 68, 68);
}
.tile-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
}
.project-tile:hover{
    background-color: rgb(105, 11, 11);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
#button{
    text-align: center; 
}
button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(39, 39, 100);
    border: 0px;
    font-size: 20px;
    color: white;
}
button:hover{
    color:rgb(243, 186, 186);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
#contact{
    background-color:rgb(39, 37, 37);
    margin-top: -5px;
    margin-bottom: -25px;
    padding: 10px;
    height: 70vh;
}
#contact h1{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contact-text{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#my-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(121, 121, 121);
    padding-top: 50px;
}
.profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.profile img{
    margin-left: 40px;
    margin-top: 12px;
    width: 30px;
    height: auto;
    justify-self: right;
}
.profile a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    padding-top: 15px;
    justify-self: left;
    font-size: 20px;
}

.profile:hover{
    margin-top:5px;
}
#ending{
    background-color:rgb(39, 37, 37);
    margin-top: -5px;
    margin-bottom: -25px;
    padding: 10px;
    height: 20vh;
}
hr{
    background-color: red;
}
@media(max-width: 900px){

    #project-tile{
        display: grid;
        grid-template-columns: 1fr;
    }
}
